@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-slate-900 antialiased;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: Montserrat, sans-serif;
}

.tooltip {
  @apply relative inline-block;
}

.tooltipText {
  @apply invisible w-[85px] bg-slate-600 text-white text-center rounded-lg p-1 absolute z-10 ml-[-60px] opacity-0 transition-opacity;
  bottom: -130%;
  left: 120%;
}

.tooltipIcon {
  @apply invisible w-max absolute z-10 opacity-0 transition-opacity left-[25%] top-[-170%];
}

.tooltip:hover .tooltipIcon {
  @apply visible opacity-100;
}

.tooltip:hover .tooltipText {
  @apply visible opacity-100;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.customHover:hover {
  opacity: 100 !important;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.slash {
  animation: slashFlash 1.5s steps(2, start) infinite;
}

@keyframes slashFlash {
  to {
    visibility: hidden;
  }
}
